form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.8rem;
    border: none;
    color: rgb(88, 87, 87);
    background: #f4f4f4;
}

form button {
    padding: 0.5rem 1rem;
    color: rgba(74, 21, 110, 1);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: rgba(74, 21, 110, 1);
    color: white;
}